.main {   
  margin: 0;
  height: 100%;
  overflow-y: hidden
}

.header {
    padding: 1rem 2rem;
    height: 4rem;
    background-color: lightgray;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .container {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .studyGroupContainer {
    display: flex; 
    width: 100%; /* Ensure it spans the entire width of its parent */
  }

  .chatContainer {
    display: flex;
    flex-direction: column-reverse; /* This reverses the display order */
    overflow-y: auto; /* Make it scrollable */
    height: 400px; /* Adjust as per your needs */
    width: 400px;
    margin-left: 30%;
  }
  
  
  .studyGroupSidebar {
    flex: 0 0 200px; /* flex-grow | flex-shrink | flex-basis */
    margin-right: 00px;
    width: 200px;
  }
  
  .studyGroupButton {
    display: block; /* Make the entire box clickable */
    padding: 10px; /* Add padding for comfort */
    cursor: pointer; /* Indicate that it's clickable */
    border: 2px solid #000; /* Add an outline */
    margin-bottom: 5px; /* Space between each group button */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
    text-align: left; /* Align text to the left */
    width: 100%; /* Take full width */
    box-sizing: border-box; /* Include padding and border in the width */
    background-color: #fff; /* White background */
    color: #000; /* Black text */
  }
  
  .studyGroupButton:hover {
    background-color: #b5b5b5; /* Add a hover effect */
  }
  
  .leaveButton, .joinButton {
    border: 2px solid #333; /* Change #333 to your desired color */
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
    background-color: white;
    transition: background-color 0.2s ease;
  }
  
  .leaveButton:hover, .joinButton:hover {
    background-color: #f5f5f5; /* Change this color for hover effect */
  }
  
  .joinButton {
    border-color: green; /* Or any other desired color for join button */
  }
  
  .leaveButton {
    border-color: red; /* Or any other desired color for leave button */
  }
  
  .selectedStudyGroup {
    background-color: #d1d1d1; /* Customize this as needed */
    /* Other styling properties if you need, like change in font color, border, etc. */
  }
  