.main {
  margin: 0;
  height: 100%;
  overflow-y: hidden
}

.header {
  padding: 1rem 2rem;
  height: 3rem;
  background-color: #0077b6;
  color: #ffffff;
  width: 100%;
  display: inline-block;
  align-items: center;
  height: auto;
  transition: background-color 0.5s ease;
}

.header:hover {
  background-color: rgb(0, 31, 41);
  color: white;
}

.container {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: visible;
}

.studyGroupContainer {
  display: flex;
  width: 100%;
  overflow: visible;
}

.chatContainer {
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
  height: 33rem;
  width: 60%;
  border-width: thin;
  border-color: #000;
  margin-left: 22%;
  margin-top: 2%;
  padding: 5px;
  background-color: rgb(224, 224, 224);
}

.chatInput {
  width: 85%;
  display: block;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 0px;
}

.chatInput:focus {
  border-color: #0077b6;
}

.sendMessageForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.sendButton {
  padding: 10px 20px;
  background-color: #0077b6;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.sendButton:hover {
  background-color: #005486;
}

.studyGroupSidebar {
  flex: 0 0 200px;
  margin-right: 00px;
  width: 200px;
  overflow: visible;
}

.studyGroupButton {
  display: block;
  padding: 5px;
  cursor: pointer;
  border: 2px solid #000;
  margin-bottom: 5px;
  transition: background-color 0.3s;
  text-align: left;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
}

.studyGroupButton:hover {
  background-color: #b5b5b5;
}


.studyGroupSidebar {
  flex: 0 0 200px;
  margin-right: 00px;
  width: 200px;
  overflow: visible;
}

.studyGroupButton:hover {
  background-color: #b5b5b5;
}

.selectedStudyGroup {
  background-color: #d1d1d1;
}

.createGroupInput {
  margin: 0 auto;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: rgb(224, 224, 224);
}

.createEventInput {
  margin: 0 auto;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: rgb(224, 224, 224);
}

.createButton1 {
  margin-left: 5px;
  display: block;
  padding: 5px 5px;
  background-color: #0077b6;
  border-radius: 4px;
  color: #ffffff;
  height: 4rem;
  width: 7rem;
  border-width: thin
}

.createButton2 {
  margin-top: 10px;
  display: block;
  padding: 5px 5px;
  background-color: #0077b6;
  border-radius: 4px;
  color: #ffffff;
  height: 2rem;
  width: 5rem;
  border-width: thin
}


.line {
  width: 10px;
}

.searchButton {
  padding: 5px 5px;
  background-color: #0077b6;
  border-radius: 4px;
  color: #ffffff;
  height: auto;
  width: auto;
  border-width: thin
}

.accountIn {
  display: grid;
  place-content: center;
  border-radius: 9px;
  border-color: white;
  background: rgb(0, 31, 41);
  color: white;
  width: 160%;
  height: 5rem;
  transition: background-color 0.5s ease;
}

.accountIn:hover {
  background: white;
  color: rgb(0, 31, 41);
  border-color: rgb(0, 31, 41);
  ;
}

.accountUp {
  display: grid;
  place-content: center;
  border-radius: 9px;
  border-color: white;
  background: rgb(0, 31, 41);
  color: white;
  width: 160%;
  height: 5rem;
  transition: background-color 0.5s ease;
}

.accountUp:hover {
  background: white;
  color: rgb(0, 31, 41);
  border-color: rgb(0, 31, 41);
  ;
}

.banner {
  display: flex;
  margin-bottom: -40px;
}

.image {
  flex: 1;
}

.welcomeSignUp {
  flex: 1;
  background: rgb(0, 0, 0);
  color: white;
  transition: background-color 0.5s ease;
  text-align: center;
  font-size: 25px;
}

.signUp {
  background: #4f4f4f;
  border-radius: 9%;
  width: 205px;
  height: 80px;
  text-align: center;
  font-size: 30px;
  transition: background-color 0.5s ease;
}

.signUpDiv {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 60px;
}

.signUp:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(231, 249, 255);
}

.mainText {
  font-weight: bold;
  text-align: center;
  font-size: 35px;
  margin-top: 30px;
}

.descriptions {
  margin: auto;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.descriptionText:hover {
  border-radius: 9%;
  color: #0077b6;
}

.descriptionText {
  width: 300px;
  text-align: left;
  transition: color 0.5s ease;
}

.descriptionTitle {
  font-weight: bold;
  font-size: 20px;
  text-align: left;
  margin-bottom: 25px;
}

.label {
  padding: 0.5rem 1rem;
  color: black;
}

.container {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
}

.todoList {
  padding-left: 1rem;
  align-self: baseline;
}

.infoButton {
  position: relative;
  padding-left: 3px;
}

.tooltip {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
}

.tooltip::after {
  overflow: visible;        
  position: absolute;
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.infoButton:hover .tooltip {
  visibility: visible;
}


.eventContainer {
  position: relative;
  display: inline-block;
}


.eventText {
  visibility: hidden;
  width: 250px;
  background-color: black;
  color: white;
  text-align: left;
  padding: 5px 10px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -125px;
  opacity: 0;
  transition: opacity 0.3s;
  overflow: visible;
}

.eventContainer:hover .eventText {
  visibility: visible;
  opacity: 1;
}

.footer {
  bottom: 0px;
	margin: 0px;
	left:0px;
	right:0px;
	padding: 30px;
  width: 100%;
  display: inline-flex;
  background-color: #0077b6;
  color: white;
}

.githubButton {
  border:none;
}